1.The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
• Sort the list and find the min and max age
• Add the min age and the max age again to the list
• Find the median age (one middle item or two middle items divided by two)
• Find the average age (sum of all items divided by their number)
• Find the range of the ages (max minus min)

In [5]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print("sorted list:",sorted(ages))#sorting the list
print("minimum age:",min(ages))#minimum 0f ages
print("maximum age:",max(ages))#maximum of ages
ages.append(min(ages))
ages.append(max(ages))
sorted(ages)
n=len(ages)
if n % 2 == 0:
    median1 = ages[n//2]
    median2 = ages[n//2 - 1]
    median = (median1 + median2)/2
else:
    median = ages[n//2]
print("median age:",+median)#mediann of the list
print("average age:",sum(ages)/len(ages))#average of the list
print("range of ages:",max(ages)-min(ages))#range of the list

sorted list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
minimum age: 19
maximum age: 26
median age: 25.5
average age: 22.75
range of ages: 7

2.
• Create an empty dictionary called dog
• Add name, color, breed, legs, age to the dog dictionary
• Create a student dictionary and add first_name, last_name, gender, age, marital status, 
skills, country, city and address as keys for the dictionary
• Get the length of the student dictionary
• Get the value of skills and check the data type, it should be a list
• Modify the skills values by adding one or two skills
• Get the dictionary keys as a list
• Get the dictionary values as a list

In [6]:
dog=dict()#creating a dog dictonary
dog["name"]="snoopy";dog["color"] = "brown";dog["breed"] = "maltipoo"; dog["legs"] = 4; dog["age"] = 3 #adding attributes
student = {"first_name": "charithasri", "last_name": "vadlamudi", "gender": "female", "age": 21, "marital_status": "single", "skills": ["Python", "Java"], "country": "USA", "city": "New York", "address": "141 St"}#creating student dictonary
print("length of student:",len(student))#length of student dictonary
value= student["skills"]
print("value of skills:",value)
print("datatype of skills:",type(value))#printing the data type of skills attribute
student["skills"].append("C")#appending the skills attribute
student["skills"].append("R")
keys = list(student.keys())
print("keys of student dictonary:",keys)# printing the keys of student as list
values = list(student.values())
print("values of student dictonary:",values)#printing the values of student as list

length of student: 9
value of skills: ['Python', 'Java']
datatype of skills: <class 'list'>
keys of student dictonary: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
values of student dictonary: ['charithasri', 'vadlamudi', 'female', 21, 'single', ['Python', 'Java', 'C', 'R'], 'USA', 'New York', '141 St']

3.
• Create a tuple containing names of your sisters and your brothers (imaginary siblings are 
fine)
• Join brothers and sisters tuples and assign it to siblings
• How many siblings do you have?
• Modify the siblings tuple and add the name of your father and mother and assign it to 
family_members

In [9]:
sisters=("bhavya","mihira","richitha")#creating sisters tuple
brothers=("sahith","harish","sandeep")#creating brothers tuple
siblings=sisters+brothers#joining the sisters and brothers tuples
print("length of siblings tuple:",len(siblings))#length of the siblings of tuple
family_members=siblings+("rama","sitaramulu")#adding father and mother names
print(family_members)

length of siblings tuple: 6
('bhavya', 'mihira', 'richitha', 'sahith', 'harish', 'sandeep', 'rama', 'sitaramulu')

4.
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} 
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
• Find the length of the set it_companies
• Add 'Twitter' to it_companies
• Insert multiple IT companies at once to the set it_companies
• Remove one of the companies from the set it_companies
• What is the difference between remove and discard
• Join A and B
• Find A intersection B
• Is A subset of B
• Are A and B disjoint sets
• Join A with B and B with A
• What is the symmetric difference between A and B
• Delete the sets completely
• Convert the ages to a set and compare the length of the list and the set.

In [10]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} 
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print("length of it_companies:",len(it_companies))#length of it_companies
it_companies.add("Twitter")#adding "Twitter" to it_companies
it_companies.update(["CTS", "TCS", "Accenture"])#inserting into it_companies
it_companies.remove("TCS")#removing of the company from it_companies
print("union of A and B:",A | B)#union of A and B
print("intersection of A and B:",A & B)#intersection of A and B
print(A.issubset(B))#Is A subset of B
print(A.isdisjoint(B))#IS A nd B are disjoint sets
print("joinning A with B:",A.union(B),"joining B with A:",B.union(B))#joining A with B and B with A
print("difference of A and B:",A ^ B)#difference of A and B
del A; del B#deleting sets A and B
age_set = set(age)#coverting ages to set
len(age) == len(age_set)#comparing the length of set and list

length of it_companies: 7
union of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
intersection of A and B: {19, 20, 22, 24, 25, 26}
True
False
joinning A with B: {19, 20, 22, 24, 25, 26, 27, 28} joining B with A: {19, 20, 22, 24, 25, 26, 27, 28}
difference of A and B: {27, 28}

False

5.
The radius of a circle is 30 meters.
• Calculate the area of a circle and assign the value to a variable name of _area_of_circle_
• Calculate the circumference of a circle and assign the value to a variable name of
_circum_of_circle_
• Take radius as user input and calculate the area.

In [11]:
radius=30
print("arear of circle:",3.14*(radius**2))#calculating radius of the circle ie.,pi*r*r and pi value is 3.14
print("circumference of circle:",2*3.14*radius)#calculating radius of the circle ie,'2*pi*r and pi value is 3.14
radius = float(input("Enter the radius of the circle: "))#taking the radius manually
area = 3.14 * (radius ** 2)
print("The area of the circle is:", area)

arear of circle: 2826.0
circumference of circle: 188.4
Enter the radius of the circle: 30
The area of the circle is: 2826.0

6.
“I am a teacher and I love to inspire and teach people”
• How many unique words have been used in the sentence? Use the split methods and set 
to get the unique words

In [12]:
sentence = "I am a teacher and I love to inspire and teach people"
words = sentence.split()#splliting the sentence
unique_words = set(words)
noof_unique_words = len(unique_words)#length of the unique words

print("Number of unique words used in the sentence:", noof_unique_words)

Number of unique words used in the sentence: 10

7.
Use a tab escape sequence to get the following lines.
Name Age Country City 
Asabeneh 250 Finland Helsinki

In [13]:
print("Name\tAge\tCountry\tCity")#using tab escape sequence
print("Asabeneh\t250\tFinland\tHelsink")

Name	Age	Country	City
Asabeneh	250	Finland	Helsink

8.
Use the string formatting method to display the following:
radius = 10
area = 3.14 * radius ** 2
“The area of a circle with radius 10 is 314 meters square.”

In [14]:
radius = 10
area = 3.14 * (radius ** 2)
print("The area of a circle with radius{} is {} meters square.".format(radius, area))#printing the radius of the circle  and using .format() method

The area of a circle with radius10 is 314.0 meters square.

9.
Write a program, which reads weights (lbs.) of N students into a list and convert these weights to 
kilograms in a separate list using Loop. N: No of students (Read input from user)
Ex: L1: [150, 155, 145, 148]
Output: [68.03, 70.3, 65.77, 67.13]

In [16]:
n = int(input("Enter the number of students: "))#entering the no of students
weights_lbs = []#list for weights in lbs
weights_kgs = []#list for weight in kgs

for i in range(n):
    weight = float(input("Enter the weight of student {} in pounds: ".format(i+1)))#enterning each weight
    weights_lbs.append(weight)#appending weights in lbs to list
    weight_kg = weight * 0.453592#multiplying the weight in lbs to get weight in kgs
    weights_kgs.append(weight_kg)

print("Weights in pounds:", weights_lbs)#printing list in lbs
print("Weights in kilograms:", weights_kgs)#printing list in kgs

Enter the number of students: 4
Enter the weight of student 1 in pounds: 150
Enter the weight of student 2 in pounds: 155
Enter the weight of student 3 in pounds: 145
Enter the weight of student 4 in pounds: 148
Weights in pounds: [150.0, 155.0, 145.0, 148.0]
Weights in kilograms: [68.0388, 70.30676, 65.77083999999999, 67.131616]